/* VARIABLES */
$fontFuturaDemi:'Futura PT Demi';
$fontPrimary: 'Gaegu', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$fontTertirary: 'VAG World Bold';
$fontFutura: 'Futura PT';
$colorPrimary: #333333;
$colorSecondary: #FFBD54;
$bgPrimary: #F9F9F9;
$bgSecondary: #333333;
$bgItem:#FFF;