/* FOOTER */
.site-footer {
    width: 100%;
    margin-top: 247px;
    background-color: #F3F3F3;

    .container {
        .site-footer__wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .site-footer__box {
                margin-left: auto;
                margin-right: auto;
                width: 513px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                a:hover {
                    opacity: 0.8;
                }
                a:active{
                    opacity: 0.6;
                }

                nav {

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        width: 100%;
                        max-width: 288px;
                        height: 90px;

                        li {
                            width: 144px;

                            a {
                                color: #333;
                                font-family: $fontFutura;
                                font-size: 16px;
                                font-weight: 500;
                            }

                            a:hover {
                                opacity: 0.8;
                                background-image: linear-gradient(to bottom, transparent 60%, #F4FFAD 20%, transparent);
                            }

                            a:active {
                                background-image: linear-gradient(to bottom, transparent 60%, #F4FFAD 20%, transparent);
                                opacity: 0.6;
                            }

                        }
                    }
                }
            }

            .site-footer__information {
                margin-left: auto;
                margin-right: auto;
                width: 664px;
                display: flex;
                justify-content: space-between;

                .site-footer__days-box {
                    max-width: 150px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    img {
                        margin-right: 10px;
                        margin-bottom: 23px;
                    }

                    p {
                        width: 120px;
                        margin: 0;
                        padding: 0;
                        color: #333;
                        font-family: $fontFutura;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                address {
                    max-width: 182px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    color: #333;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;

                    img {
                        margin-right: 10px;
                        margin-bottom: 23px;

                    }

                }

                .site-footer__phone-number {
                    width: 100%;
                    max-width: 170px;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    img {
                        margin-right: 10px;
                        margin-bottom: 30px;

                    }

                    div {
                        display: flex;
                        flex-direction: column;

                        a {
                            width: 100%;
                            width: 115px;
                            margin: 0;
                            padding: 0;
                            color: #333;
                            font-family: $fontFutura;
                            font-size: 14px;
                            font-weight: 500;
                        }
                        a:hover {
                            color: $colorSecondary;
                        }
                        
                        a:active {
                            color: $colorSecondary;
                            opacity: 0.6;
                        }
                    }

                }
            }

        }

        cite {
            display: block;
            color: #5C5C5C;
            text-align: right;
            font-family: $fontFutura;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: auto;
        }
    }
}
