/* HEADER START */
.site-header {
    width: 100%;

    &__information {
        height: 39px;
        margin-left: auto;
        width: 100%;
        max-width: 1117px;
        display: flex;
        background-color: $bgPrimary;

        &__box {
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $fontFutura;

            &-address {
                display: flex;
                align-items: center;
                color: #333;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                font-family: $fontFutura;

                svg {
                    margin-right: 9px;
                }
            }

            &-box {

                &-link {
                    font-family: $fontFutura;
                    color: $colorPrimary;
                    display: flex;
                    align-items: center;
                    color: #333;
                    font-size: 14px;
                    font-weight: 500;


                    svg {
                        margin-right: 9px;
                    }
                }

                &-link:hover {
                    color: $colorSecondary;
                }

            }

            &__days-box {
                width: 100%;
                max-width: 286px;
                display: flex;
                justify-content: space-between;

                &-days {
                    display: flex;
                    align-items: center;
                    color: #333;
                    font-size: 14px;
                    font-weight: 500;

                    svg {
                        margin-right: 9px;
                    }
                }

                .days2 {
                    margin-left: 17px;
                }
            }

        }
    }

    &__navigation {
        font-family: $fontFutura;
        width: 100%;
        height: 61px;
        background-color: #fff;
        display: flex;

        &-wrapper {
            width: 100%;
            max-width: 1340px;
            margin: 0 auto;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &__logo-link {
            display: flex;
            align-items: center;
            position: relative;
            width: 177.5px;

        }

        &__logo-img {
            position: absolute;
        }

        &__logo-img:hover {
            opacity: 0.8;
        }

        &__logo-img:active {
            opacity: 0.6;
        }

        &__nav {
            width: 100%;
            max-width: 725px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-list {
                width: 100%;
                max-width: 692px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;

                a:hover {
                    opacity: 0.8;
                    background-image: linear-gradient(to bottom, transparent 60%, #F4FFAD 20%, transparent);
                }

                a:active {
                    background-image: linear-gradient(to bottom, transparent 60%, #F4FFAD 20%, transparent);
                    opacity: 0.6;
                }
            }
        }

        button {
            background-color: #fff;
            border: none;
            display: flex;
            align-items: center;


            p {
                margin: 0;
                padding: 0;
            }

            p:hover {
                background-image: linear-gradient(to bottom, transparent 60%, #F4FFAD 20%, transparent);
            }
        }

        button:hover {
            opacity: 0.8;
        }

        button:active {
            opacity: 0.6;
        }


    }
}

.site-header__information__box-link,
.site-header__information__box-days{
font-family: $fontFutura;
color: #333;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.site-header__navigation__nav-link {
    font-family: $fontFutura;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.site-header__information__box-link:hover {
    color: $colorSecondary;
}

.site-header__information__box-link:active {
    opacity: 0.6;
}

@media only screen and (min-width:350px) and (max-width:767px) {
    
}
@media only screen and (min-width:768px) and (max-width:1023px) {
    
}