/* HERO SECTION */
main {
    width: 100%;
    background: url(../images/main-bg.png), no-repeat;

}

.hero-content {
    height: 736px;
    background-image: url(../images/hero-bg.png), url(../images/hero-parrot.png);
    background-position: calc(50% - 496.5px) -180px, calc(50% + 655px) bottom;
    background-repeat: no-repeat;

    &__box {
        margin-left: calc(50% + 20px);
        padding-top: 145.77px;

        &-title {
            width: 100%;
            max-width: 608px;
            color: $colorPrimary;
            font-family: $fontFutura;
            font-size: 70px;
            font-weight: 700;
            line-height: 64px;

            span {
                color: #78C0DE;
                font-family: $fontFutura;
                font-size: 70px;
                font-weight: 700;
                line-height: 64px;
            }
        }

        &-text {
            width: 100%;
            max-width: 495px;
            color: #949494;
            font-family: $fontFutura;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            margin: 29px 0 38px 0;
        }

        &-btn {
            color: #FFF;
            font-family: $fontFutura;
            font-size: 16px;
            font-weight: 500;
            background-color: $colorPrimary;
            border-radius: 3px;
            padding: 15px 48px;
            border: none;
        }

        &-btn:hover {
            opacity: 0.8;
        }

        &-btn:active {
            opacity: 0.6;
        }
    }
}

.quote-content {
    margin-top: 102px;
    width: 100%;

    &__box {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin-inline: auto;
        width: 100%;

        .open-quote {
            margin-bottom: 70px;
            margin-right: 50px;
        }

        q {
            display: flex;
            width: 100%;
            quotes: none;
            color: #949494;
            text-align: center;
            font-family: $fontFutura;
            font-size: 20px;
            font-weight: 400;

            span {
                width: 753px;
                height: 78px;
                text-align: center;
            }

        }

        .close-qoute {
            margin-left: 50px;
            margin-top: 70px;
        }

        &-cite {
            color: #333;
            font-family: $fontFutura;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin: 0 auto;
            margin-top: 70px;
            padding-bottom: 170px;
        }

    }
}

/* SERVICE SECTION */
.service-content {
    width: 100%;
    margin-top: 0px;


    .container {
        width: 100%;

        h2 {
            color: $colorPrimary;
            text-align: center;
            font-family: $fontFutura;
            font-weight: 700;
            font-size: 48px;
            line-height: 54px;
            margin-bottom: 80px;
        }

        div {
            width: 100%;
            max-width: 1310px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            .arrow-div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
            }

            .arrow-div:hover {
                background-color: #FFF;
            }

            .arrow-div:active {
                background-color: #FFF;
                opacity: 0.6;
            }

            .service-content__box-list {
                display: flex;
                width: 100%;
                max-width: 1223px;
                padding: 0;
                margin-bottom: 14px;

                .service-content__list-bitem {
                    width: 100%;

                    .service-content__list-list {
                        display: flex;
                        justify-content: space-around;
                        width: 605x;
                        margin-top: 14px;
                        margin-left: auto;
                        margin-right: auto;

                        li {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: #fff;
                            padding: 33px;
                            width: 193px;
                            height: 201px;
                            border-radius: 5px;

                            h3 {
                                margin-top: 22px;
                                text-align: center;
                                color: $colorPrimary;
                                font-family: $fontFutura;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 22px;

                            }
                        }

                        li:hover {
                            opacity: 0.8;
                        }

                        li:active {
                            opacity: 0.6;
                        }
                    }

                    .list1 {
                        li:nth-child(1){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(1)::before{
                            content: url(../icons/service-doctor.svg);
                        }
                        li:nth-child(2){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(2)::before{
                            content: url(../icons/service-nurse-dog.svg);
                        }
                        li:nth-child(3){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(3)::before{
                            content: url(../icons/service-dog-capelnitsa.svg);
                        }
                    }

                    .list2 {
                        li:nth-child(1){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(1)::before{
                            content: url(../icons/service-dog-soch.svg);
                        }
                        li:nth-child(2){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(2)::before{
                            content: url(../icons/service-microscope.svg);
                        }
                        li:nth-child(3){
                            display: flex;
                            flex-direction: column;
                        }
                        li:nth-child(3)::before{
                            content: url(../icons/service-dog-cat.svg);
                        }
                    }
                }
            }
        }
    }
}

/* OBSERVE SECTION */
.observe-content {
    width: 100%;

    &__box {
        width: 100%;
        max-width: 1223px;
        margin: 0 auto;
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;

        div {
            width: 100%;
            max-width: 492px;
            padding-right: 70px;


            h2 {
                margin-top: 37px;
                font-family: $fontFuturaDemi;
                font-weight: 500;
                font-size: 36px;
                line-height: 20px;
                color: $colorPrimary;

            }

            p {
                color: #949494;
                font-family: $fontFutura;
                font-weight: 400;
                font-size: 16px;
                margin: 18px 0 34px 0;
            }

            .observe-content__btn-div {
                width: 447px;
                display: flex;
                padding: 0;
                justify-content: space-between;


                .observe-content__btn-price {
                    width: 185px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    background-color: $colorSecondary;
                    border: none;
                    padding: 15px 36px;
                    border-radius: 3px;

                    span {
                        color: #fff;
                        font-family: $fontFutura;
                        font-size: 16px;
                        font-weight: 500;
                        width: 86px;
                        height: 21px;
                        margin: 0;
                        padding: 0;
                    }
                }

                .observe-content__btn-price::before {
                    content: url(../icons/observe-money.svg);
                    margin-right: 9px;
                }


                .observe-content__btn-submit {
                    width: 241px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    background-color: $colorPrimary;
                    border: none;
                    padding: 15px 36px;
                    border-radius: 3px;

                    span {
                        color: #fff;
                        font-family: $fontFutura;
                        font-size: 16px;
                        font-weight: 500;
                        width: 140px;
                        height: 21px;
                        margin: 0;
                        padding: 0;
                    }
                }

                .observe-content__btn-submit::before {
                    content: url(../icons/observe-document.svg);
                    margin-right: 9px;
                }
            }
        }
    }
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* SUBSCRIPTION SECTION */
.subscription-content {
    height: 481px;
    background-image: url(../images/bud-v-kurse-bg-dog.png), url(../images/bud-v-kurse-bg.png);
    background-repeat: no-repeat, repeat-x;
    background-position: calc(50% + 362px) 0px, 0 110px;
    margin-top: 127px;

    .subscription-content__box {
        max-width: 900px;
        padding-top: 200px;
        padding-right: 270px;

        h2 {
            width: 494px;
            color: #FFF;
            font-family: $fontFutura;
            font-size: 48px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 32px;
        }

        .subscription-content__wrapper {
            width: 100%;
            max-width: 544px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            input {
                width: 335px;
                height: 50px;
                padding: 18px 147px 12px 22px;
                background-color: #FFF;
                border: none;
                margin-bottom: 30px;
            }

            input::placeholder {
                color: #949494;
                font-family: $fontFutura;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                border-radius: 3px;

            }

            button {
                width: 184px;
                height: 50px;
                background-color: $colorPrimary;
                color: #FFF;
                font-family: $fontFutura;
                font-size: 16px;
                font-weight: 500;
                padding: 14px 51px;
                border-radius: 3px;
                border: none;
            }
        }
    }
}

/* NEWS SECTION */
.news-content {
    .news-content__title {
        text-align: center;
        color: $colorPrimary;
        font-family: $fontFutura;
        font-size: 48px;
        font-weight: 700;
        line-height: 20px;
        margin: 165px 0 95px 0;
    }

    .news-content__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        .news-content__item {
            width: 100%;
            max-width: 305px;
            height: 435px;

            div {
                padding: 30px;

                h3 {
                    color: #000;
                    font-family: $fontFutura;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25px;
                }

                p {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 13px 0 28px 0;
                }

                time {
                    width: 71px;
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: right;
                    margin-left: 175px;
                }

                a {
                    color: $colorPrimary;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                a:hover {
                    opacity: 0.8;
                }

                a:active {
                    opacity: 0.6;
                }

                a::before {
                    content: url(../icons/lapa.svg);
                    margin-right: 4px;
                }
            }
        }

        .news-content__item-big {
            display: flex;
            width: 640px;

            img {
                margin: 0 auto;
            }

            div {
                padding: 30px;

                h3 {
                    margin-top: 31px;
                    color: #000;
                    font-family: $fontFutura;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25px;
                }

                p {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 15px 0 33px 0;
                }

                .news-content__item-hashtag {
                    color: #3D9CEA;
                    font-family: $fontFutura;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                    display: flex;
                    justify-content: space-between;

                    time {
                        color: #949494;
                        font-family: $fontFutura;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                a {
                    color: $colorPrimary;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                a:hover {
                    opacity: 0.8;
                }

                a:active {
                    opacity: 0.6;
                }

                a::before {
                    content: url(../icons/lapa.svg);
                    margin-right: 4px;
                }
            }
        }
    }
}

@media only screen and (max-width:1280px) {
    .news-content__list {
        justify-content: center;
    }

    .news-content__item-big {
        order: -1;
    }

    .news-content__item {
        margin-left: auto;
        margin-right: auto;
    }
}

.feedback-content {
    margin-top: 265px;
    width: 100%;

    .feedback-container {
        width: 100%;
        max-width: 1463px;
        margin-left: auto;
        margin-right: auto;

        .feedback-content__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .feedback-content__box {
                width: 990px;
                background: url(../images/feedback-bg.png), no-repeat;
                background-color: #333;
                margin-left: auto;
                margin-right: auto;
                padding-top: 62px;
                padding-left: 166px;
                padding-bottom: 74px;

                h2 {
                    color: #FFF;
                    font-family: $fontFutura;
                    font-size: 48px;
                    font-weight: 700;
                }

                p {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    max-width: 339px;
                    margin-bottom: 30px;
                }

                form {
                    width: 100%;
                    max-width: 375px;
                    height: 373px;


                    label {
                        width: 100%;

                        input {
                            width: 100%;
                            max-width: 375px;
                            height: 50px;
                            border: none;
                            background-color: #FFF;
                        }

                        input:not(:focus):not(:placeholder-shown):invalid {
                            border: 2px solid #FF6347;
                        }

                        input:valid {
                            border: 2px solid #90EE90;
                        }

                        .feedback-content__input2 {
                            margin: 14px 0;
                        }

                        textarea {
                            width: 100%;
                            max-width: 375px;
                            border: none;
                            background-color: #FFF;
                            height: 165px;
                            padding: 22px 0 0 17px;


                        }

                        input::placeholder,
                        textarea {
                            color: #949494;
                            font-family: $fontFutura;
                            font-size: 16px;
                            font-weight: 400;
                        }

                        input::placeholder {
                            padding-left: 17px;
                        }


                    }

                    button {
                        margin-top: 25px;
                        background-color: $colorSecondary;
                        border: none;
                        border-radius: 1px;
                        padding: 15px 49px;
                        color: #FFF;
                        font-family: $fontFutura;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }



        .feedback-content__map {
            width: 462px;
            margin-left: auto;
            margin-right: auto;

        }
    }
}

@media only screen and (max-width:1451px) {
    .feedback-content__map {
        width: 500px;
        height: 300px;
        margin-bottom: 40px;
    }
}