/* HERO SECTION */
main {
    width: 100%;
    background: url(../images/main-bg.png), no-repeat;

}

.hero-content {
    height: 736px;
    background-image: url(../images/hero-bg.png), url(../images/hero-parrot.png);
    background-position: calc(50% - 496.5px) -180px, calc(50% + 655px) bottom;
    background-repeat: no-repeat;

    &__box {
        margin-left: calc(50% + 20px);
        padding-top: 145.77px;

        &-title {
            width: 100%;
            max-width: 608px;
            color: $colorPrimary;
            font-family: $fontFutura;
            font-size: 70px;
            font-weight: 700;
            line-height: 64px;

            span {
                color: #78C0DE;
                font-family: $fontFutura;
                font-size: 70px;
                font-weight: 700;
                line-height: 64px;
            }
        }

        &-text {
            width: 100%;
            max-width: 495px;
            color: #949494;
            font-family: $fontFutura;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            margin: 29px 0 38px 0;
        }

        &-btn {
            color: #FFF;
            font-family: $fontFutura;
            font-size: 16px;
            font-weight: 500;
            background-color: $colorPrimary;
            border-radius: 3px;
            padding: 15px 48px;
            border: none;
        }

        &-btn:hover {
            opacity: 0.8;
        }

        &-btn:active {
            opacity: 0.6;
        }
    }
}

.quote-content {
    margin-top: 102px;
    width: 100%;

    &__box {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin-inline: auto;
        width: 100%;

        .open-quote {
            margin-bottom: 70px;
            margin-right: 50px;
        }

        q {
            display: flex;
            width: 100%;
            quotes: none;
            color: #949494;
            text-align: center;
            font-family: $fontFutura;
            font-size: 20px;
            font-weight: 400;

            span {
                width: 753px;
                height: 78px;
                text-align: center;
            }

        }

        .close-qoute {
            margin-left: 50px;
            margin-top: 70px;
        }

        &-cite {
            color: #333;
            font-family: $fontFutura;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin: 0 auto;
            margin-top: 70px;
            padding-bottom: 170px;
        }

    }
}

/* SERVICE SECTION */
.service-content {
    width: 100%;
    margin-top: 0px;


    .container {
        width: 100%;

        h2 {
            color: $colorPrimary;
            text-align: center;
            font-family: $fontFutura;
            font-weight: 700;
            font-size: 48px;
            line-height: 54px;
            margin-bottom: 80px;
        }

        div {
            width: 100%;
            max-width: 1310px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            .arrow-div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
            }

            .arrow-div:hover {
                background-color: #FFF;
            }

            .arrow-div:active {
                background-color: #FFF;
                opacity: 0.6;
            }

            .service-content__box-list {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto auto auto auto auto auto;
                gap: auto;
                width: 100%;
                max-width: 1223px;
                padding-bottom: 13px;
                padding: 0;
                margin-bottom: 14px;

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    padding: 33px;
                    width: 193px;
                    height: 201px;
                    border-radius: 5px;

                    h3 {
                        margin-top: 22px;
                        text-align: center;
                        color: $colorPrimary;
                        font-family: $fontFutura;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 22px;

                    }
                }

                li:hover {
                    opacity: 0.8;
                }

                li:active {
                    opacity: 0.6;
                }
            }
        }
    }
}

/* OBSERVE SECTION */
.observe-content {
    width: 100%;

    &__box {
        width: 100%;
        max-width: 1223px;
        margin: 0 auto;
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;

        div {
            width: 100%;
            max-width: 492px;
            margin-right: 70px;


            h2 {
                margin-top: 37px;
                font-family: $fontFuturaDemi;
                font-weight: 500;
                font-size: 36px;
                line-height: 20px;
                color: $colorPrimary;

            }

            p {
                color: #949494;
                font-family: $fontFutura;
                font-weight: 400;
                font-size: 16px;
                margin: 18px 0 34px 0;
            }

            div {
                display: flex;


                .observe-content__btn-price {
                    display: flex;
                    align-items: center;
                    background-color: $colorSecondary;
                    color: #fff;
                    margin-right: 8px;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    padding: 15px 36px;
                    border-radius: 3px;

                    .observe-content__btn-img {
                        margin-right: 8px;
                    }

                }


                .observe-content__btn-submit {
                    display: flex;
                    align-items: center;
                    background-color: $colorPrimary;
                    color: #fff;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 19px;
                    border: none;
                    padding: 15px 36px;
                    border-radius: 3px;

                    .observe-content__btn-img {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

/* SUBSCRIPTION SECTION */
.subscription-content {
    height: 481px;
    background-image: url(../images/bud-v-kurse-bg-dog.png), url(../images/bud-v-kurse-bg.png);
    background-repeat: no-repeat, repeat-x;
    background-position: calc(50% + 362px) 0px, 0 110px;
    margin-top: 127px;

    .subscription-content__box {
        padding-top: 200px;

        h2 {
            color: #FFF;
            font-family: $fontFutura;
            font-size: 48px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 32px;
            margin-left: 178px;
        }

        .subscription-content__wrapper {
            display: flex;
            align-items: center;
            margin-left: 178px;

            input {
                padding: 18px 147px 12px 22px;
                background-color: #FFF;
                border: none;
            }

            input::placeholder {
                color: #949494;
                font-family: $fontFutura;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                border-radius: 3px;

            }

            button {
                background-color: $colorPrimary;
                color: #FFF;
                font-family: $fontFutura;
                font-size: 16px;
                font-weight: 500;
                padding: 14px 51px;
                border-radius: 3px;
                border: none;
                margin-left: 21px;
            }
        }
    }
}

/* NEWS SECTION */
.news-content {
    .news-content__title {
        text-align: center;
        color: $colorPrimary;
        font-family: $fontFutura;
        font-size: 48px;
        font-weight: 700;
        line-height: 20px;
        margin: 165px 0 95px 0;
    }

    .news-content__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;

        .news-content__item {
            max-width: 305px;
            height: 435px;

            div {
                padding: 30px;

                h3 {
                    color: #000;
                    font-family: $fontFutura;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25px;
                }

                p {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }

                span {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 14px;
                    font-weight: 500;
                }

                a:hover {
                    opacity: 0.8;
                }

                a:active {
                    opacity: 0.6;
                }
            }
        }

        .news-content__item-big {
            display: flex;
            width: 640px;
            height: 435px;

            div {
                padding: 30px;

                h3 {
                    color: #000;
                    font-family: $fontFutura;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 25px;
                }

                p {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                }

                pre {
                    color: #3D9CEA;
                    font-family: $fontFutura;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                }

                span {
                    color: #949494;
                    font-family: $fontFutura;
                    font-size: 14px;
                    font-weight: 500;
                }

                a:hover {
                    opacity: 0.8;
                }

                a:active {
                    opacity: 0.6;
                }
            }
        }
    }
}

.feedback-content {
    margin-top: 265px;
    width: 100%;

    .feedback-container {
        width: 100%;
        max-width: 1463px;
        display: flex;
        margin-left: auto;
        margin-right: auto;

        .feedback-content__box {
            width: 100%;
            max-width: 990px;
            background: url(../images/feedback-bg.png), no-repeat;
            background-color: #333;
            padding-top: 62px;
            padding-left: 166px;

            h2 {
                color: #FFF;
                font-family: $fontFutura;
                font-size: 48px;
                font-weight: 700;
            }

            p {
                color: #949494;
                font-family: $fontFutura;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                max-width: 339px;
                margin-bottom: 30px;
            }

            form {
                width: 100%;
                max-width: 375px;
                height: 373px;


                label {
                    width: 100%;

                    input {
                        width: 100%;
                        max-width: 375px;
                        height: 50px;
                        border: none;
                        background-color: #FFF;
                    }

                    input:not(:focus):not(:placeholder-shown):invalid {
                        border: 2px solid #FF6347;
                    }

                    input: {
                        border: 2px solid #90EE90;
                    }

                    .feedback-content__input2 {
                        margin: 14px 0;
                    }

                    textarea {
                        width: 100%;
                        max-width: 375px;
                        border: none;
                        background-color: #FFF;
                        height: 165px;
                        padding: 22px 0 0 17px;


                    }

                    input::placeholder,
                    textarea {
                        color: #949494;
                        font-family: $fontFutura;
                        font-size: 16px;
                        font-weight: 400;
                    }

                    input::placeholder {
                        padding-left: 17px;
                    }


                }

                button {
                    margin-top: 25px;
                    background-color: $colorSecondary;
                    border: none;
                    border-radius: 1px;
                    padding: 15px 49px;
                    color: #FFF;
                    font-family: $fontFutura;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (min-width:350px) and (max-width:767px) {}

@media only screen and (min-width:768px) and (max-width:1023px) {

    // service content
    .service-content__box-list {
        grid-template-columns: auto auto auto ;
    }

    // hero content
    .hero-content {
        background-size: 500px 500px, 0;
        background-position: calc(50% - 230px), 0;
    }

    // observe content
    .observe-content__img {
        margin: 0 auto;
    }

    .observe-content__content {
        margin: 0 auto;
    }

    // news content
    .news-content__list {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:1024px) {

    // observe content
    .observe-content__img {
        margin: 0 auto;
    }

    .observe-content__content {
        margin: 0 auto;
    }
}